

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
    margin: 0px;
    padding: 0px
}

:root {
	--background: #0b0b0b;
    --backgroundRGBA: rgba(45, 45, 45, 0.9);
	--textColor:#fff;

	--titleFontSize:8vw;
	--textFontSize:18px;
	--fontFamily: 'Roboto', sans-serif;

	--desktopScreen:1200px;
	--tabletScreen:768px;

	--contentWidth: 85%;
}
html {
    //filter: invert(100%);
}

body {
    background: var(--background);
    color:  var(--textColor);
    font-size: var(--textFontSize);
    font-family: var(--fontFamily);
}

a {
    color: var(--textColor);
    font-size: 17.1428571429px;
}

.loadBar {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border:2px dashed var(--textColor);
    border-radius: 50%;
    animation: spin-loadBar 2s infinite ease;
}
@keyframes spin-loadBar { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.weather {
    padding: 8px 5px;
    color:var(--textColor);
    background:var(--background);
    border:0px;
    outline:none;
    border-bottom: 1px solid var(--textColor);
}
.weatherBlock {
    text-align:center;
    border-radius: 10px;
    position: fixed;
    padding:10px;
    //width: 170px;
    //height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -98px;
    background-color:var(--backgroundRGBA);
    color:var(--textColor);
    //filter: invert(100%);
    animation:opacity-normal 6s;
}
@keyframes opacity-normal {
  0% {opacity: 0;}
  5% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

@media (min-width: 1200px) {
    .app {
        width:85%;
        max-width: 1200px;
        margin: 0px auto
    }

    .app__name {
        font-size: var(--titleFontSize);
        padding: 60px 0px 90px 0px
    }

    .app__skill-blocks {
        display: flex;
        width: 100%
    }

    .app__skill-box {
        border: 1px solid var(--textColor);
        width: 32%;
        margin-right: 2%
    }

    .app__skill-box:last-child {
        margin-right: 0%
    }

    .app__skill-title {
        padding: 25px 0px 5px 0px;
        text-align: center;
        width: 45%;
        margin: 0px auto;
        border-bottom: 1px solid var(--textColor)
    }

    .app__skill-description {
        min-height: 90px;
        display: grid;
        place-items: center;
        padding: 2px 0px
    }

    .app__skill-description li {
        list-style: none;
        text-align: center;
        padding: 1px
    }

    .app__foot-sign {
        text-align: right
    }

    .app__foot {
        display: flex;
        width: 100%;
        height: 149px
    }

    .app__foot-description {
        display: flex;
        width: 100%
    }

    .app__foot-year {
        width: 50%;
        font-size: 24px
    }

    .app__foot-links {
        width: 50%;
        height: 149px
    }

    .app__position-links {
        text-align: right;
        padding-top: 29px
    }

    .app__position-links img {
        filter: invert(100%);
        max-width: 90px;
        width: 20%;
        padding-right: 20px
    }

    .app__qrcode {
        width: 149px;
        height: 149px
    }

    .portfolio {
        min-height: 150px;
        font-size: 34px;
        margin-top: 10%;
        margin-bottom: 5%;
    }
}




@media (max-width: 1200px) {
    .app {
        width:100%;
        max-width: 1200px;
        margin: 0px auto
    }
    
    .app__name, .app__foot,.app__skill-blocks {
        width:85%;
        margin: 0px auto
    }

    .app__name {
        font-size: var(--titleFontSize);
        padding: 40px 0px 60px 0px
    }

    .app__skill-blocks {
        max-width: 500px;
        margin: 0px auto
    }

    .app__skill-box {
        border: 1px solid var(--textColor);
        margin: 2% 0px
    }

    .app__skill-box:last-child {
        margin-right: 0%
    }

    .app__skill-title {
        padding: 25px 0px 5px 0px;
        text-align: center;
        width: 45%;
        margin: 0px auto;
        border-bottom: 1px solid var(--textColor)
    }

    .app__skill-description {
        min-height: 90px;
        display: grid;
        place-items: center;
        padding: 2px 0px
    }

    .app__skill-description li {
        list-style: none;
        text-align: center;
        padding: 1px
    }

    .app__foot-sign {
        text-align: right
    }

    .app__foot {
    }

    .app__foot-description {
        width: 100%
    }

    .app__foot-year {
        width: 100%;
        font-size: 24px
    }

    .app__foot-links {
        width: 100%
    }

    .app__position-links {
        display: block;
        text-align: center;
        padding-top: 50px
    }

    .app__position-links img {
        filter: invert(100%);
        max-width: 70px;
        width: 50%;
        padding: 0px 15px
    }

    .app__qrcode {
        display: grid;
        place-items: center;
        margin: 30px 0px 0px 0px;
        width: 100%;
        height: 149px
    }

    .portfolio {
        min-height: 150px;
        font-size: 34px;
        margin-top: 10%;
        margin-bottom: 5%
    }
}
