*{padding: 0px; margin: 0px;font-size: 20px;}

body{ background:; font-family: 'Rubik Mono One', sans-serif;}

h1{font-size: 28px}
h2{font-size: 24px;}
h3{font-size: 20px;font-weight: 200;}



/* Header */

header{
	font-size:;
}

header nav{background: #913f3f;}

header h1{font-size: 50px; padding: 0px;margin: 0px;text-transform: lowercase;}
header h2{font-size: 30px; color: black;font-family: 'Source Sans Pro', sans-serif;text-transform: uppercase;}

header ul{
	padding: 15px 0px;
	text-align: right;
}

header li{
	display: inline;
}

header a{color: white;text-decoration:none;padding: 15px 20px;}
header a:hover{color: black;background: white; transition: all 0.2s;}



.logoDiv{
	background: #913f3f;
	padding: 200px 0px 50px 0px;
	color: white;
	text-align: center;
}

/* Main */

main{
	min-height: 400px;
	font-family: 'Source Sans Pro', sans-serif;
}

main h2{padding: 10px 5px;}

main ul{
	padding: 10px 20px;
}

.mainContainer{
	width: 70%;
	padding: 40px 0px;
	margin: 0px auto;
}

.mainBlock{
	padding: 60px 100px 0px 0px;
}

/* Footer */

footer{
	color: #2e2020;
	font-family: 'Source Sans Pro', sans-serif;
}

.footerBox{
	/*display:inline-flex;*/
	text-align: center;
	width: 100%;
}

.footerLinkDiv{
	font-size: 14px;
	padding: 20px;
}

.footerCopyDiv{
	font-size: 14px;
	padding: 20px;
}




