/* ---------ADAPTATION -------- */
@media (max-width: 1125px){

main img{width:100%; margin: 0px auto;}

main .galleryBox{
	display: inline-block;
	width: 99%;
	background: #dbbaba;
	margin: 10px 0px;
}

.mainBlock{
	width: 95%;
	margin: 0px auto;
}

}