.weatherInput {
    padding: 8px 5px;
    color:var(--textColor);
    background:var(--background);
    border:0px;
    outline:none;
    border-bottom: 1px solid var(--textColor);
}
.weatherBlock {
    text-align:center;
    border-radius: 10px;
    position: fixed;
    padding:10px;
    max-width: 190px;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -98px;
    background-color:var(--backgroundRGBA);
    color:var(--textColor);
    animation:opacity-normal .5s;
}
.weatherBlockExt{
    text-align:center;
    border-radius: 5px;
    position: fixed;
    padding:10px;
    min-width: 92%;
    min-height: 95%;
    top: 1%;
    left: 2%;
    background-color: rgba(45, 45, 45, 1) ;
    color:var(--textColor);
}
.weatherBlock .timer{font-size:42px;border-top:1px solid white;}
.weatherBlockExt .timer{font-size:15vw;border-top:1px solid white;}
.weatherBlockExt .timerSecond {font-size:6vw}.weatherBlock .timerSecond{font-size:30px;}
.anchorBtn, .anchorDrgBtn, .anchorExtBtn{width:10px;height:10px;border-radius:50%;}
.anchorExtBtn{margin-left:auto;background:#66d453;}
.anchorDrgBtn{margin-left:5px;background:#03fcf8;}
.anchorBtn{margin-left:5px;background:#d45b53;}
