/* ---------ADAPTATION -------- */
@media (max-width: 720px){

*{margin: 0;padding: 0;}

body{ background:;font-family: 'Open Sans', sans-serif;}
header li{list-style: none;}

h1{font-size: 60px}
h2{font-size: 25px;}
h3{font-size: 20px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 14px;}
h3,h4,h5,h6{font-weight: 100; padding: 0px 10px}
h4{padding: 10px 15px;}
a{font-size: 20px;color: black;}
footer div,header div,main div{padding: 20px 0px;}

/* --------------------------Header--------------------------- */

header nav, header .logoDiv{text-align: center;padding: 15px;}

header{
	background:#913f3f;
	transition: all 0.9s;
}

header li{
	display: inline;
}
header .logoDiv{
	padding:100px 0px;
}

header a{text-decoration: none; color:white; padding: 15px 30px;}
header a:hover{background: white; color:black;}

header h1{color:white; text-transform: uppercase;}
header h2{color:black; font-family: 'Source Sans Pro', sans-serif;text-transform: uppercase;}

/* --------------------------Main----------------------------- */

main img{max-width: 600px;width: 100%;display: block;margin: 0px auto;}
main .anon{width: 200px;}
main .mainBlockC{
	padding: 50px 5px;
}
main{
	font-family: 'Source Sans Pro', sans-serif;
}
main .galleryBox{
	background: #dbbaba;
	max-width: 600px;
	margin: 10px auto;
}

main a{text-decoration: none; color:black;}

main li{list-style-type: none;padding: 2px 10px;padding: 5px 0px;}

main .hiddenList{
	display: none;
	transition: all .5s;
	padding: 5px;
}


/* --------------------------Footer--------------------------- */

footer{
	font-family: 'Source Sans Pro', sans-serif;
}







#scrollToTop {
      position: fixed;
      bottom: 20px;
      right: 20px;
      font-weight: bold;
      cursor: pointer;
      opacity: 0;
      transition: all 0.5s ease-in;
}

#scrollToTop:hover {
	opacity: 1;
}

}