@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Source+Sans+Pro:wght@1000&display=swap');

:root{
	--main-font: 'Open Sans Condensed', sans-serif;
	--sec-font: 'Source Sans Pro', sans-serif;

	--first-m-color: #7affc8;
	--second-m-color: #ff7a7a;
	--first-a-color: #c1dbdb;
	--second-a-color:#b8c8e6;

	--cv-color: #ffdb78;
}
*{margin: 0;padding: 0; font-family: var(--sec-font);}


.main{
	background: var(--first-m-color);
	width: 100%;
	height: 100vh;
	display: flex;
}

nav{
	background: var(--second-m-color);
	width: 8%;
	height: 100%;
}
nav h1{
	height:10%;
	text-align: center;
}
nav ul{
	height: 80%;
	
}
nav li{
	text-align: center;
	padding: 20px 0px;
	vertical-align: middle;
}
nav a{
	color: #000;
	text-decoration: none;
}
main{
	width: 92%;
	overflow: auto;
}
main .ik {

	position: absolute;
	top:35%;
	left: 20%;
	font-size: 200%;
	font-weight: 1000;
}
main .another {
	position: absolute;
	top:35%;
	left: 25%;
	font-size: 200%;
}

.switch-transition{
  transition: all .5s ease-in-out;
}

.switch-enter{
	opacity: 1;
	left: 100%;
}

.switch-leave{
	opacity: 0;
	left: -100%;
}


@keyframes movek {
	0%{
		left: 20%;
		top: 20%;
		transform: rotate(0deg);
	}
	25%{
		left: 50%;
		top: 30%;
	}
	30%{
		left: 60%;
		top: 20%;
	}
	50%{
		left: 80%;
		top: 20%;
		transform: rotate(240deg);
	}
	75%{
		left: 40%;
		top: 60%;
	}
	100%{
		left: 20%;
		top: 20%;
		transform: rotate(360deg);
	}
}

.moveK {
	z-index: 99;
	position: absolute;
	width: 200px;
	height: 200px;
	background-image: url(./img/anon.png);
	opacity: 0.2;
	animation: movek 20s infinite ease-in-out;
}

