* { margin: 0px; padding: 0px; }


.paintTest {
	width: 500px;
	height: 500px;

	//margin: 0px auto;
}
.paintCanvas {
	border: 1px solid #000;
	background: #999999;
	width: 511px;
	height: 511px;
	overflow: auto;
}
#canvas { 
	background: #fff;
}
.paintTools {
	display: inline-flex;
}
.paintToolSize { }

input, button {margin: 5px;}

canvas {
	touch-action: none;
}

@media (max-width: 1200px) {
	#canvas, .paintTools { width: 100%;}
	body {overflow: auto;}
}